<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Shop Online", home_path,class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><a>Hello <%= current_user.name %></a></li>
            <li><%= link_to signout_path do %><i class="fa fa-sign-out fa-fw"></i> Logout<% end %></li>
            <% if current_user.admin? %>
                <li><%= link_to '/admin',target: "_blank" do %><i class="fa fa-sign-out fa-fw"></i> Admin Panel<% end %></li>
            <% end %>
        <% else %>
            <li><%= link_to fr_register_path do %><i class="fa fa-sign-in fa-fw"></i> Register<% end %></li>
            <li><%= link_to fr_login_path do %><i class="fa fa-sign-in fa-fw"></i> Login<% end %></li>
            <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>