
<div class="col-md-9">

  <!--search box-->
  <div class="col-md-12 search-box">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" placeholder="Search for snippets" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control">
                    <option value="0" selected>All Snippets</option>
                    <option value="1">Featured</option>
                    <option value="2">Most popular</option>
                    <option value="3">Top rated</option>
                    <option value="4">Most commented</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Author</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Contains the words</label>
                  <input class="form-control" type="text" />
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </div>
  <!--end search-->

  <div class="clearfix"></div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @category.name, show_cate_path(@category.id) %></li>
  </ol>

  <div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <%= image_tag product.avatar(:large)%>
            <div class="caption">
              <h4 class="pull-right">$<%= product.price%></h4>
              <h4><%= link_to product.name,show_path(product.id) %></h4>

              <p><%= raw (product.description) %></p>
              <p>
                <a href="#" class="btn btn-primary">Buy Now!</a> <%= link_to "More Info",show_path(product.id), class: "btn btn-default" %>
              </p>
            </div>
            <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>
    <% end%>

  </div>

</div>
