<div class="col-md-9">

  <div class="thumbnail">
    <%= image_tag @product.avatar(:large) %>
    <!--<img class="img-responsive" src="http://placehold.it/800x300" alt="">-->
    <div class="caption-full">
      <h4 class="pull-right"><%= number_to_currency(@product.price, unit: "VND", separator: ",", delimiter: ".", format: "%n %u",strip_insignificant_zeros: true) %></h4>
      <h4><a href="#"><%= @product.name %></a>
      </h4>
      <%= raw @product.description %>
    </div>
    <div class="ratings">
      <p class="pull-right"><%= @comments.count%> reviews</p>
      <p class="ratings">
        <input type="hidden" value="<%= @avg_rating%>" disabled class="rating"/> <span class="label label-default"><%= @avg_rating%></span>
      </p>
    </div>
    <div class="order">
      <p>
        <%= render "product_row", product: @product, order_item: @order_item %>
      </p>
    </div>
  </div>

  <div class="well">

    <div class="text-right">
      <a class="btn btn-success">Leave a Review</a>
    </div>
    <div class="two-space"></div>
    <% if current_user %>
        <% if notice %>
            <div class="alert alert-success">
              <strong>Success!</strong> <%= notice %>
            </div>
        <% end %>
    <div class="form-comment">
      <%= form_for :comment,url: post_comment_path, :html => {:class => "form-horizontal"} do |f| %>
        <div class="form-group">
          <%= label_tag(:content, "Content", class: "control-label col-sm-2") %>
          <div class="col-sm-10">
          <%= f.text_area :content, :rows => '5', :cols => "89", :class => 'form-control', 'required' => 'required' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:rating, "Rating", class: "control-label col-sm-2") %>
          <div class="col-sm-10">
            <%= tag("input",type: "hidden", name: "comment[vote]", class: "rating", value: "1") %> <span class="label label-default">1</span>
          </div>
        </div>
          <input type="hidden" name="comment[product_id]" value="<%= @product.id %>">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
        <div class="alert alert-success">
           <div class="text-center"> <%= link_to "Please login to post a comment",fr_login_path(:url => request.original_url) %></div>
        </div>

    <% end %>

    <hr>
    <% if @comments%>
      <% @comments.each do |comment|%>
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" value="<%= comment.vote%>" disabled class="rating"/> <span class="label label-default"><%= comment.vote%></span>
          <%= comment.user.name %>
          <span class="pull-right"><%= time_ago_in_words(comment.created_at) %></span>
          <p><%= comment.content %></p>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="text-center">
        <div class="pagination">
          <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    <% else %>
      <h4 class="text-center">No Comment</h4>
    <% end %>
  </div>

</div>
<script type="text/javascript">

</script>